* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: Arial, sans-serif;
}

header {
    background-color: #333;
    color: white;
    padding: 15px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

header nav a {
    color: white;
    margin: 0 10px;
    text-decoration: none;
}

header nav a:hover {
    color: yellow;
}

.hero {
    text-align: center;
    padding: 80px 20px;
    background: linear-gradient(to right, #4facfe, #00f2fe);
    color: white;
}


.hero button {
    margin-top: 20px;
    padding: 10px 20px;
    border: none;
    background: white;
    color: #333;
    cursor: pointer;
    font-size: 16px;
}

.hero button:hover {
    background: yellow;
}

.features {
    display: flex;
    justify-content: space-around;
    padding: 40px;
}

.box {
    background: #f4f4f4;
    padding: 20px;
    width: 30%;
    text-align: center;
    border-radius: 10px;
}

.box:hover {
    background: #ddd;
}

footer {
    text-align: center;
    padding: 15px;
    background: #333;
    color: white;
}